%% -*- erlang -*-
%% Config file for tellstick application.
%%
{erl_opts, [debug_info]}.

{deps,  [ {tellstick, ".*", {git, "git@github.com:tonyrog/tellstick.git"}},
	  {lager, ".*", {git, "git://github.com/Feuerlabs/lager.git", "1.1"}},
	  {hex, ".*", {git, "git@github.com:tonyrog/hex.git"}}
	]}.

